<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Calule o valor do frete aproximado entre dois endereços</h2>
			<form class="form-horizontal">
				<fieldset>
					<div class="form-group">
						<label class="col-lg-2 control-label">campo1</label>
						<div class="col-lg-4">
							<input type="text" class="form-control"></input>
						</div>
					</div>	
				</fieldset>
			</form>
		</div>
	</div>
</div>